body {
    background-image: url(16.png);
}
.produkty{
display:flex;
gap:20px;
flex-wrap:wrap;
}

.produkt{
background:#111;
color:darkslategray;
padding:20px;
border-radius:10px;
width:200px;
text-align:center;
}

.produkt input{
width:60px;
margin-top:10px;
}

button{
margin-top:20px;
padding:10px 20px;
font-size:16px;
cursor:pointer;
background-color: red;
}
