* {
    box-sizing: border-box;
    margin: 0;
}
body {
    color: white;
    min-height: 100vh;
    background: linear-gradient(
        135deg,
        #000000,
        #0a1a5e,
        #4b0082,
        #000000
    );
    background-size: 300% 300%;
    animation: gradientMove 15s ease infinite;
}
#header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    height: auto;
    width: auto;
    color: white;
    text-align: center;
}

#header:hover {
    color: blue;
}

.menu {
    background-color: rgb(15, 15, 14);
    list-style: none;
    padding: 0;
    width: 400px;
}
.menu li a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #ec1717;
}
@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}







