* {
box-sizing: border-box;
}
body {
    background-color: rgb(10, 9, 9);
    color: white;
    background-image: url();
}
#main {
    text-align: center;
    justify-content: center;
}
#main h1 {
    text-align: center;
}
#table {
    box-sizing: border-box;
    color: white;
    
}
#table .td1{
    color: white;
}
.klamy{
    box-sizing: border-box;
    
}
#cennnik {
    color: yellow;
}
.powrot {
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.powrot:hover {
    background-color: #990000;
}

